
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>About Me</h1>
    <p class="busytxt">
       I’m Devin Stapleton, a senior Computer Science student at the College of New Jersey. I have been exploring new technologies that allow me to develop programs for my other interests. The two main interests I like to create apps are Virtual/Augmented Reality and the stock market. For the VR space I am currently participating in mentored research at TCNJ about Cybersickness and how it affects people in VR. In the area of XR I also had the opportunity to Intern at Verizon and help port an app to their project Ironman AR Device. I also work on some other personal projects such as porting a mod on the Source Engine to the Source 2 engine to be played on the upcoming game s&box, which would allow it to be played in a VR game mode.  For the stock market I enjoy programming new trading strategies and ways to evaluate securities. This includes creating unique chart indicators with PineScript, and using tools such as NumPy, Pandas, and Plotly to evaluate stocks.
    </p>
    <div>
        <h3>Here are technologies I have been working with recently</h3>
        <ul class="tech">
            <li>ASP.NET MVC</li>
            <li>Unity Engine</li>
            <li>EEG Lab</li>
            <li>Source 2 Engine</li>
            <li>Mixed Reality Toolkit 3</li>
            <li>Snapdragon Spaces</li>
        </ul>
    </div>
</div>

