
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>About Me</h1>
    <p class="busytxt">
As a senior Computer Science student at The College of New Jersey, I am passionate about exploring cutting-edge technologies to create impactful applications. My primary interests lie in two distinct areas: Virtual/Augmented Reality (VR/AR) and the stock market.

Virtual/Augmented Reality:

Currently, I am engaged in mentored research at TCNJ, focusing on Cybersickness and its effects on individuals experiencing VR environments. During my internship at Verizon, I contributed to the porting of an app to their ambitious Ironman AR Device project. Additionally, I am working on personal projects, including adapting a mod from the Source Engine to Source 2. This adaptation will enable it to be played in a VR game mode within the upcoming game s&box.

Stock Market:

My fascination with the stock market drives me to develop innovative trading strategies and evaluate securities. I create custom chart indicators using PineScript, and I leverage powerful tools like NumPy, Pandas, and Plotly for in-depth stock analysis.

Feel free to explore my portfolio to learn more about my work and experiences.    </p>
    <div>
        <h3>Here are technologies I have been working with recently</h3>
        <ul class="tech">
            <li>ASP.NET MVC</li>
            <li>Unity Engine</li>
            <li>EEG Lab</li>
            <li>Source 2 Engine</li>
            <li>Mixed Reality Toolkit 3</li>
            <li>Snapdragon Spaces</li>
        </ul>
    </div>
</div>

