
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>About Me</h1>
    <p class="busytxt">
        I’m Devin Stapleton, a junior computer science student at the College of New Jersey. I have had an interest in computers and the software on it since I built my first computer in 2015. This caused me to choose computer science as my major. Ever since my formal education started I have been exploring new technologies that allow me to develop programs for my other interests. The two main areas I like to create apps for are the stock market and VR.
    </p>
    <div>
        <h3>Here are technologies I have been working with recently</h3>
        <ul class="tech">
            <li>ASP.NET MVC</li>
            <li>Unity Engine</li>
            <li>Python</li>
            <li>Source 2 Engine</li>
            <li>C/C++</li>
            <li>HTML/CSS</li>
        </ul>
    </div>
</div>

