
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>About Me</h1>
    <p class="busytxt">
As a Systems Engineer on the Verizon Product Strategy & Innovation Team, I am passionate about exploring cutting-edge technologies to create impactful products. My primary interests lie in two distinct areas: Virtual/Augmented Reality (VR/AR) and the stock market.

Virtual/Augmented Reality:

During my mentored research at TCNJ, I focused on Cybersickness and its effects on individuals experiencing VR environments. During my internship at Verizon, I contributed to the porting of an app to their Ironman AR Device project. Additionally, I am working on personal projects. My current project is to design and develop a VR strategy game, focusing on learning how to use high level programming patterns and UML diagrams to be able to create/maintain/document a large codebase.

Stock Market:

My fascination with the stock market drives me to develop innovative trading strategies and evaluate securities. I create custom chart indicators using PineScript, and I leverage powerful tools like NumPy, Pandas, and Plotly for in-depth stock analysis.

Feel free to explore my portfolio to learn more about my work and experiences.    </p>
    <div>
        <h3>Here are technologies I have been working with recently</h3>
        <ul class="tech">
            <li>InfluxDB</li>
            <li>Unity Engine</li>
            <li>EEG Lab</li>
            <li>VMware vSphere</li>
            <li>Mixed Reality Toolkit 3</li>
            <li>Grafana</li>
        </ul>
    </div>
</div>

