
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>About Me</h1>
    <p class="busytxt">
        I’m Devin Stapleton, a junior Computer Science student at the College of New Jersey. I have been exploring new technologies that allow me to develop programs for my other interests. The two main areas I like to create apps for are the stock market and VR. For the stock market I enjoy programming new trading strategies and ways to evaluate securities. This includes creating unique chart indicators with PineScript, and using tools such as NumPy, Pandas, and Plotly to evaluate stocks. For the VR space I have been using technologies such as Unity for personal projects and for school research. I am also an early access developer for s&box, an upcoming VR game, and have been working on a new VR map and gamemode.
    </p>
    <div>
        <h3>Here are technologies I have been working with recently</h3>
        <ul class="tech">
            <li>ASP.NET MVC</li>
            <li>Unity Engine</li>
            <li>Python</li>
            <li>Source 2 Engine</li>
            <li>C/C++</li>
            <li>HTML/CSS</li>
        </ul>
    </div>
</div>

