
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainPage.cshtml";
}

    <ul class = "IndexList" style = "list-style: none;"> 
        <li>
            <div>
                <h2>Hello I’m Devin Stapleton</h2>
                <div>I’m a Computer Science student at the College of New Jersey, VR developer, and future Systems Engineer at Verizon</div>
        
            </div>
        </li>

        <li>
            <img class="img-me" src="~/Content/Me.jpg" alt="image of me" />
        </li>
    </ul>
   
