
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainPage.cshtml";
}
<div class="home-txt">
    <div>
        <h2>Hello I’m Devin Stapleton</h2>
        <div>I’m a Computer Science student at the College of New Jersey and VR developer</div>
        
    </div>
   
    <img class="img-me" src="~/Content/Me.jpg" alt="image of me" />
    
   
</div>