
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>Work</h1>
    <ul>
        <li>
            <h2>2022 Hackdown Project</h2>
            <p> For the hackathon, my group decided to make a website to help fix and prevent office pain. If a person has a specific ache or pain they can click on the body part to watch a video that shows stretches that can relieve the pain. We also implemented a Twillio API to text the user the stretches to their phone. We won the categories: Best Healthcare Hack, Most Creative Use of Twilio, and Best Use of Microsoft Cloud.</p>
            <a href="https://devpost.com/software/fitnessfunbud?ref_content=my-projects-tab&ref_feature=my_projects">Click here for more</a>
        </li>
        <li>
            <h2>VR office productivity research</h2>
            <p>I am currently researching at the College of New Jersey on how to make virtual reality viable for office space. I am currently working on a device that works as both a mouse for virtual displays and a remote to interact with the virtual environment. </p>
        </li>
        <li>
            <h2>S&box VR map remaster</h2>
            <p>I am porting and remastering a map from the game Garry's mod to S&box. I’m converting the map from the Source Engine to the Source 2 Engine and updating the map with new textures and implementing VR support.</p>

        </li>
        <li>
            <h2>2022 Hack TCNJ Project</h2>
            <p>For my first hackathon, my group decided to make an app that is able to create a card deck for the mobile game Clash Royale. Our goal was to have the app create a deck that had the highest odds to beat a deck given to it. Our code takes in data from the Clash Royale API. It then uses machine learning to create a model based on almost 400,000 games to figure out which cards counter other ones.  </p>
            <a href="https://devpost.com/software/counter-decker?ref_content=my-projects-tab&ref_feature=my_projects">Click here for more</a>
        </li>

        <li>
            <h2>Stock Growth Comparator</h2>
            <p> This app takes any two stocks that can be seen on Yahoo Finance and displays a new candlestick chart based on the rate of change of the two stocks chosen by the user. This allows a user to visualize how a stock’s growth compares to the overall market’s growth, industry growth, or a competitor’s growth.  </p>
            <a href="https://github.com/dbstapes/Comparative-Stock-ticker-Python">Click here for more</a>
        </li>
        <li>
            <h2>2D Knapsack algorithm in C++</h2>
            <p>A partner and I are attempting to make a 2D knapsack algorithm from scratch in C++. A 2D knapsack algorithm attempts to put the best subset of rectangles into a larger rectangle to either fill the most space or have the most profitable set of items. </p>
            <a href="https://github.com/anthonymessana/2DKNAPSACK">Click here for more</a>
        </li>
    </ul>

</div>

