
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<div class="about-me">
    <h1>Work</h1>
    <ul>
        <li>
            <h2>VR research</h2>
            <p>I am currently mentoring research at the College of New Jersey on how virtual reality can be implemented for educational purposes.</p>
        </li>
        <li>
            <h2>S&box VR map remaster</h2>
            <p>I am porting and remastering a map from the game Garry's mod to S&box. I’m converting the map from the Source Engine to the Source 2 Engine and updating the map with new textures and implementing VR support.</p>
        </li>
        <li>
            <h2>Stock Growth Comparator</h2>
            <p> This app takes any two stocks that can be seen on Yahoo Finance and displays a new candlestick chart based on the rate of change of the two stocks chosen by the user. This allows a user to visualize how a stock’s growth compares to the overall market’s growth, industry growth, or a competitor’s growth.</p>
        </li>
        <li>
            <h2>2D Knapsack algorithm in C++</h2>
            <p>A partner and I are attempting to make a 2D knapsack algorithm from scratch in C++. A 2D knapsack algorithm attempts to put the best subset of rectangles into a larger rectangle to either fill the most space or have the most profitable set of items. </p>
        </li>
    </ul>

</div>

