<!DOCTYPE html>
<link href="~/Content/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<head>
    
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Devin Stapleton</h2>
            <ul>
                <li>@Html.ActionLink("Home", "Index")  </li>
                <li> @Html.ActionLink("About me", "AboutMe")  </li>
                <li> @Html.ActionLink("Work", "Work")  </li>
                <li>  <a href="~/Content/Devin Stapleton resume.pdf" target="_blank">Resume</a> </li>
            </ul>
        </nav>
    </div>
    <div class="detail">@RenderBody()</div>
    <footer>
        <h1 class="contact">Contact</h1>
        <nav class="foot">
            <ul>
                <li>devinstapleton227@gmail.com</li>
                <li class="sosh"><a href="https://www.linkedin.com/in/devin-stapleton/" class="fab fa-linkedin-in"></a></li>
                <li class="sosh"><a href="https://github.com/dbstapes" class="fab fa-github"></a></li>

            </ul>
        </nav>
    </footer>
</body>


